/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Dark Mode Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

#container--main {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.section--page {
    background: #1e1e1e;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: background 0.3s, box-shadow 0.3s;
}

#wrapper--hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    border-bottom: 2px solid #80d8ff;
}

#profile-pic {
    width: 150px;
    height: 150px; /* Set the height to match the width for a square */
    border-radius: 20px; /* Adjust border radius as desired for rounded corners */
    margin-right: 40px;
    object-fit: cover; /* Ensure the image covers the entire container */
    border: 4px solid #80d8ff;
    transition: border 0.3s;
}


#user-name {
    font-size: 2.5em;
    margin: 0;
    color: #80d8ff;
}

#email {
    font-size: 1.2em;
    color: #b0b0b0;
    margin-top: 10px;
}

#socials--list {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

#socials--list a {
    text-decoration: none;
    color: #80d8ff;
    font-size: 1.1em;
    transition: color 0.3s;
}

#socials--list a:hover {
    color: #40a4c8;
}

h2 {
    color: #80d8ff;
    border-bottom: 2px solid #80d8ff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
}

h3 {
    color: #aaa;
    margin-top: 20px;
    font-size: 1.5em;
}

p {
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

ul li:before {
    content: '✔️';
    margin-right: 10px;
    color: #80d8ff;
}

a {
    text-decoration: none;
    color: #80d8ff;
}

a:hover {
    text-decoration: underline;
}

/* Specific styles for different sections */
#qualifications--list p {
    margin-left: 20px;
    position: relative;
}

#qualifications--list p:before {
    content: '•';
    position: absolute;
    left: -20px;
    color: #80d8ff;
}

#mainRight {
    margin-top: 20px;
}

#mainRight h2 {
    margin-top: 30px;
}

#mainRight ul {
    list-style-type: none;
}

#mainRight ul p {
    margin: 5px 0;
}

#mainRight ul p:before {
    content: '•';
    margin-right: 10px;
    color: #80d8ff;
}

/* Dark Mode Toggle Button */
#toggle-dark-mode {
    background-color: #80d8ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

#toggle-dark-mode:hover {
    background-color: #40a4c8;
}
